.service__image {
	width: 250px;
	margin-right: 30px;
}

.service__wrapper {
	padding-top: 30px;
}

.service__description {
	padding-top: 20px;
	margin-bottom: 20px;
}

.service__list {
	flex-grow: 1;
}

.service__item {
	margin-bottom: 15px;
}
.service__name {
	width: 35%;
	margin: 0 30px 0 0;
}

.service__price {
	margin-bottom: 0;
}

.service__buttons--book {
	margin-right: 10px;
}

.service__buttons {
	margin-left: auto;
}