.account__card {
  width: 350px;
}

.account__card:first-of-type {
  margin-right: 30px;
}

.account__card-row p {
  margin-bottom: 0;
}

.account__card-row p:first-of-type {
  font-weight: 700;
}

.account__card-row,
.account__card-item {
  margin-bottom: 10px;
}

.account__card-item strong {
	margin-right: 20px;
}
